/* ======================================================================================================================================== */

/* For all pages. */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
  font-weight: 600;
  color: white;
}

/* ======================================================================================================================================== */

/* Related to overall website header. */

header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Staatliches', sans-serif;
  font-weight: 100;
}

header img {
  width: 100px;
  height: 100px;
}

nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

nav a:hover,
.dropdown-content a:hover {
  color: rgb(204, 183, 164);
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 3rem;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  padding: 0rem;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  z-index: 1000;
  min-width: 200px;
}

.dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .menu {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    width: 100%;
  }
}

/* ======================================================================================================================================== */

/* For overall footer. */

footer {
  background-color: #000000;
  color: rgb(0, 0, 0);
  padding: 2rem;
  border-top: 1px solid #000000;
  font-family: 'Staatliches', sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer img {
  width: 100px;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 18px;
}

.footer-menu a {
  color: white;
  text-decoration: none;
}

.footer-menu .dropdown {
  position: relative;
}

.footer-menu .dropbtn {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
}

.footer-menu .dropdown-content {
  bottom: 100%;
  top: auto;
  display: none;
  position: absolute;
  left: 0;
  background-color: #222;
  min-width: 200px;
  z-index: 1000;
}

.footer-menu .dropdown:hover .dropdown-content {
  display: block;
}

.footer-menu .dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  bottom: 100%;
}

.social-links {
  margin-left: -30%; 
  display: flex; 
  gap: 15%; 
}

.social-button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.social-button img {
  width: 90%;
  height: 90%;
}

@media (max-width: 768px) {
  footer {
    padding: 0;
    margin-top: 5%;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  .footer-menu a,
  .footer-menu .dropbtn {
    font-size: 16px;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
  }

  footer img {
    width: 80px;
    height: 80px;
  }
}

/* ======================================================================================================================================== */

/* For index.html */

.hero {
  background: url("") 80% 45% / 100% auto;
  background-color: #6e0000e5;
  padding: 3rem 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 1;
}

.hero h1 {
  font-size: 3rem;
  max-width: 1000px;
  text-align: center;
}

.hero a.button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 1rem 1rem;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px; /* Rundung */
  transition: background-color 0.3s; /* Smooth Hover */
}

.button-container {
  display: flex;
  gap: 20px;
}

.button img {
  width: 30px;
  height: 30px;
}

.index-button {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================================================================================================================== */

/* For grid pages */

main {
  max-width: 1050px;
  margin: 2rem auto;
  padding: 0 2rem;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.page-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.movie-item {
  text-align: center;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.movie-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-date {
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 0.8rem;
  text-align: left
}

.movie-title {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  text-align: left;
}

.movie-blurb {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  color: #aaa;
  text-align: justify;
  font-weight: 500;
  line-height:1.2rem;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.listen-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.7rem;
  display: block;
  text-align: left;
  text-decoration: none;
}

.video-embed-small {
   text-align: center;
   max-width: 1000px;
   margin: 0 auto;
   padding: 1rem;
 }

.video-embed-small .video-wrapper {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
   margin-bottom: 1rem;
}

.video-embed-small .video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.video-embed-small h2 {
   margin-bottom: 0.4rem;
   margin-top: -3px;
   text-align: left;
   font-size: 17px;
}

.video-embed-small .date {
   color: #aaa;
   margin-top: 0;
   margin-bottom: 18px;
   text-align: left;
   font-size: 15px;
}

.video-embed-small .blurb {
   font-size: 13px;
   line-height: 1.5;
   text-align: justify;
   margin-top: 4px;
   margin-bottom: -30px;
}

.video-embed-small .video-blurb {
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
  margin-top: px;
  margin-bottom: 10px;
  font-weight:500;
  color: #aaa;
}

/* ======================================================================================================================================== */

/* For individual podcast pages */

.blurb {
  font-size: 1.1rem;
  text-align: center;
  color: #b4b1b1;
  margin-bottom: 3rem;
  font-family: 'Montserrat', 'Staatliches', sans-serif;
}

.video-embed-block {
  text-align: center;
  max-width: 50%;
  margin: -30px auto 0 auto;
  padding: 2rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-embed-block h2 {
  margin-bottom: 0.5rem;
  margin-top: -5px;
  text-align: left;
  font-size: 20px;
}

.video-embed-block .date {
  color: #aaa;
  margin-top: 0;
  margin-bottom: -6px;
  text-align: left;
  font-size: 15px;
}

.video-embed-block .blurb {
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: -50px;
  text-align: justify
}

@media (max-width: 768px) {
  .video-embed-block {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .video-wrapper {
    margin: 0 auto 1rem auto;
    max-width: 100%;
  }

  .video-embed-block .blurb {
    font-size: 14px;
    width: 100%;
    margin-bottom: -2rem;
    text-align: justify;
  }

  .video-embed-block h2,
  .video-embed-block .date {
    text-align: center;
  }
}

/* ======================================================================================================================================== */

/* For article navigation page */

.article-preview {
  width: 100%;
  max-width: 1050px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  position: relative;
  align-items: center;
  height: 175px;
}

.article-preview h2,
.article-preview p {
  margin: 0;
}

.article-preview:hover .text.default {
  opacity: 0;
}

.article-preview:hover .text.hover {
  opacity: 1;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.article-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.article-link:focus {
  outline: 2px solid #ccc;
  outline-offset: 4px;
}

.image {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
  object-position: top;
}

.image-wrapper {
  position: relative;
  width: 66%;
  height: 175px;
  overflow: hidden;
}

.image.hover {
  opacity: 0;
}

.article-preview:hover .image.hover {
  opacity: 1;
}

.article-preview:hover .image.default {
  opacity: 0;
}

.text-wrapper {
  position: relative;
  width: 34%;
  padding: 20px;
  background-color: #000;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
  overflow: hidden;
}

.text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  transition: opacity 0.4s ease-in-out;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-top: -16px;
}

.text h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0 0 10px;
  line-height: 1.2;
}

.text.default {
  opacity: 1;
}

.text.hover {
  opacity: 0;
}

.text .date {
  font-size: 14px;
  color: #888;
  margin: 0;
}

@media (max-width: 768px) {
  .article-preview {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    height: 100%;
  }

  .article-link {
    flex-direction: column;
    display: flex;
  }

  .image-wrapper {
    width: 100%;
    max-height: 125px;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .image {
    width: 100%;
    height: auto;
    position: static;
    display: block;
  }

  .image.hover {
    display: none;
  }

  .text-wrapper {
    width: 100%;
    height: auto;
    background: #000;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  .text {
    position: relative;
    transform: none;
    margin: 0;
    text-align: center;
    opacity: 1 !important;
  }

  .text.hover {
    display: none;
  }
}


/* ======================================================================================================================================== */

/* For individual article pages */

.artikel {
  color: white;
  background-color: black;
  font-family: "Ancizar Sans";
  
}

.artikel-titel {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
}

.artikel-datum {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  color:#ffffff;
  font-weight: 600;
  font-size: 1.15rem;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: visible;
  align-items: center;
  display: flex;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.farb-box {
  position: relative;
  padding: 2rem 3rem;
  max-width: 25%;
  margin-left: 17.5%;
  color: white;
  font-weight: 400;
  text-align: justify;
  line-height: 1.35rem;
  border-radius: 10px;
  background-color: rgba(150, 129, 108, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  font-size: 1.15rem;
}

.text-content-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  margin: auto;
}

.text-content {
  column-count: 2;
  column-gap: 5rem;
  margin-top: 0px;
  padding: 2rem;
  text-align: justify;
  font-weight: 400;
  max-width: 65%;
  margin: auto;
  line-height: 1.4rem;
  font-size: 1.15rem;
}

.text-content a {
  color: rgb(233, 167, 106);
  text-decoration: underline;
}

.text-content a:hover {
  color: rgba(244,1,1,1);
}

.text-content > div {
  margin-bottom: 1.5rem;
}

.image-block {
  max-width: 55%;
  margin: 2rem auto;
  margin-top: -10px;
  text-align: left;
  color: #ccc;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  text-align: justify;
  line-height: 1.2rem;
  font-family: "Ancizar Sans";
}

.image-block img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.inline-image-block {
  max-width: 100%;
  margin: 2rem auto;
  margin-top: -10px;
  text-align: left;
  color: #ccc;
  font-size: 0.8em;
  font-weight: 200;
  color: #ffffff;
  text-align: justify;
  line-height: 1.1rem;
  break-inside: avoid;
  page-break-inside: avoid;
}

.inline-image-block img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
}

.autor-ribbon {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 1.5rem;
  margin-top:0 ;
  border-radius: 8px;
  width: 65%;
  margin: 20px auto;
  margin-bottom: -35px;
}

.autor-ribbon img {
  width: 100px;
  height: 120px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 1.5rem;
  box-shadow: 0 0 15px rgba(184, 184, 184, 0.7);
}

.autor-info {
  display: flex;
  flex-direction: column;
}

.autor-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.autor-position {
  font-size: 0.95rem;
  opacity: 0.8;
}

.no-break {
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .text-content {
    column-count: 1;
    padding: 1rem;
  }

    .hero-container {
    height: auto;
    overflow: visible;
    height: 100%;
  }

  .farb-box {
    max-width: 60%;
    margin: 2rem auto 2rem auto;
  }
}

@media (max-height: 1000px) {
  .text-content {
    column-count: 1;
    padding: 1rem;
  }

    .hero-container {
    height: auto;
    overflow: visible;
    height: 100%;
  }

  .farb-box {
    max-width: 60%;
    margin: 2rem auto 2rem auto;
  }
}